.site-header {
    margin: 20px 0;
    a {
        text-decoration: none;
    }

    .links {
        display: flex;
        gap: 1rem;
        margin: 20px;
        align-items: baseline;

    }

    .site-nav {
        margin: 20px;
    }
}